{% extends "base.html" %}

{% block navbar %}
    {% include "navbar.html" with active_tab="user_assignments" %}
{% endblock %}

{% block content %}
    <h1>{{ object.title }}</h1>
    <h1>{{ object.body }}</h1>
    <h1>{{ object.added }}</h1>
    <h1>{{ object.deadline }}</h1>
    <form enctype="multipart/form-data" method="post"
          action="{% url "assignment_solution_submit" id=assignment_id %}">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Submit" />
    </form>
{% endblock %}
