{% load staticfiles %}
{% load bootstrap3 %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% bootstrap_css %}
    </head>
    <body>
        <div>
            {{ user }}
            {% if user.is_anonymous %}
            <a href="{% url 'django.contrib.auth.views.login' %}">login</a>
            {% else %}
            <a href="{% url 'django.contrib.auth.views.logout' %}">logout</a>
            {% endif %}
        </div>
        {% block content %}
        {% endblock %}

        {% bootstrap_javascript %}
    </body>
</html>
