{% extends "base.html" %}

{% block navbar %}
    {% include "navbar.html" with active_tab="courses_list" %}
{% endblock %}

{% block content %}
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Code</th>
                <th>Standard english title</th>
                <th>Standard romanian title</th>
                <th>ECTS</th>
            </tr>
        </thead>
        <tbody>
        {% for object in object_list %}
            <tr>
                <td>{{ object.code }}</td>
                <td>{{ object.title_en }}</td>
                <td>{{ object.title_ro }}</td>
                <td>{{ object.ects }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
